<!-- Learning Interpolation -->
<h2>
  Welcome {{name}}
</h2>
<h2>{{2+2}}</h2>
<h2>{{"Welcome"+ name}}</h2><!-- String Concatenation-->
<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase()}}</h2>
<!--Javascript built in  functions-->
<h2>{{greetUser()}}</h2><!-- calling method of component class-->

<!-- Not possible cases -->
<!-- Assigning result of expression to variable -->
<!-- <h2> {{ a= 2+2}}</h2> -->

<!-- Access to global variables such as window, screen and so on - to find the url of the current page, template is not aware of global javascript variables. -->
<h2>{{siteUrl}}</h2>

<!-- Learning Property Binding -->

<input type="text" value="Vishwas">
<!-- <input [id]="myId" type="text" value = "Vishwas"> -->
<!-- There is limitation to Interpolation, it can only work with string values, there are HTML properties that are boolean properties that we may need to sometimes bind to. -->
<!-- input property by default disabled is false, once set disabled property on input element it became true, then again disabled= "false" wont work, becoz html attribute once set can't change again. -->
<!-- <input disabled ="false" id = "{{myId}}" type = "text" value = "Vishwas"> -->
<!-- disabled = "{{false}}" wont work -->
<!-- hardcoding to true/false not of much use -->
<input [disabled]="isDisabled" id="{{myId}}" type="text" value="Vishwas">
<button (click)="enable()">Enable</button>
<button (click)="disable()">Disable</button>

<!-- Alternate syntax for property Binding -->
<input bind-disabled="isDisabled" type="text" value="Vishwas">

<!-- class binding -->
<!-- It allows to dynamically add/remove classes from the HTML elements based on certain user interactions of our application, by changing the properties of the component class -->
<h2 class="text-success"> Code Evolution</h2>
<h2 [class]="textSuccess"> Code Evolution</h2>
<!-- regular class attribute becomes a dummy attribute in presence of class binding, we can use one or the other but not both -->
<h2 class="text-special" [class]="textSuccess">Code Evolution</h2>
<!-- conditionally apply single class based on an expression that evaluates to true/false -->
<h2 [class.text-danger]="hasError">Code Evolution</h2>
<!-- If we want to conditionally apply multiple classes, angular provides ngClass directive -->
<h2 [ngClass]="messageClasses">Code Evolution</h2>

<!-- Style Binding, used to apply inline styles to HTML elements -->
<h2 [style.color]="'orange'">Style Binding</h2>
<h2 [style.color]="hasError ? 'red': 'green'">Style Binding</h2>
<h2 [style.color]="highlightColor">Style Binding 2</h2>
<!-- Apply multiple styles -->
<h2 [ngStyle]="titleStyles">Style Binding 3</h2>

<!-- Event Binding to capture events, data flow from template to class -->
<button (click)="onClick()">Greet</button>
<!-- It is possible to set properties on mouse event -->
{{greeting}}
<!-- To get information about the click event, for that simply send the $event parameter in the event handler -->
<button (click)="onClick($event)">Greet</button>
<!-- $event gives all the information about the DOM element that was raised -->
<button (click)="greeting1= 'Welcome Vishwas'">Greet</button>{{greeting1}}

<!-- Template Reference Variables -->
<!-- Reference variables used to refer to HTML element and all of its DOM properties -->
<input #myInput type="text">
<button (click)="logMessage(myInput.value)">Log</button>
<button (click)="logMessage(myInput)">Log1</button>
<br />
<!-- Two way Binding, allows to update a property and at the same time displays the value of the property -->
<!-- ngModel directive for two way binding -->
<!-- Import FormsModule, for Angular to know ngModel -->
<input [(ngModel)]="name1" type="text">{{name1}}

<!-- Structural Directives, adds/remove HTML elements from the DOM -->
<!-- ngIf Directive -->
<!-- Have more control over rendering this particular HTML element -->
<h2 *ngIf="displayName;else elseBlock">Code Evolution</h2>

<!-- Implement else block -->
<!-- ng-template tag is basically like a container for other elements that the ngIf directive can use to add/remove blocks of HTML elements from the DOM -->
<ng-template #elseBlock>
  <h2>Name is hidden</h2>
</ng-template>

<!-- Another syntax for ngIf directive -->
<div *ngIf="displayName;then thenBlock; else else1Block"></div>

<ng-template #thenBlock>
  <h2>Then block</h2>
</ng-template>

<ng-template #else1Block>
  <h2>else block</h2>
</ng-template>

<!-- ngSwitch Directive -->
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'"> You picked red color</div>
  <div *ngSwitchCase="'blue'">You picked blue color</div>
  <div *ngSwitchCase="'green'">You picked green color</div>
  <div *ngSwitchDefault>Pick again</div>
</div>

<!-- ngFor Directive, renders list of elements -->
<div *ngFor="let color of colors;index as i;first as f;last as l, odd as o;even as e">
  <h2>{{i}} {{color}} {{f}} {{l}} {{o}} {{e}}</h2>
</div>

<!-- Component interaction -->
<!-- Sending data from parent component to child component, using @Input decorator -->
<h2>{{"Hello " + name2}}</h2>

<!-- Way Child component sends data to parent component is by using events -->

<button (click)="fireEvent()">Send Event</button>

<!-- Pipes -->
<!-- Pipes applicable for string property types -->
<!-- Pipe operator transforms the data only for the view, it does not change the property of the class. -->
<h2>{{name3}}</h2>
<h2>{{name3 | lowercase}}</h2>
<h2>{{name3 |uppercase}}</h2>
<h2>{{name3 | titlecase}}</h2>
<h2>{{name3 | slice:3:5}}</h2>
<h2>{{ person | json}}</h2>

<!-- For Numbers -->
<h2>{{5.678 | number:'1.2-3'}}</h2>
<h2>{{5.678 |number:'3.4-5'}}</h2>
<h2>{{5.678 |number:'3.1-2'}}</h2>

<h2>{{0.25 | percent}}</h2>
<h2>{{0.25 | currency:'GBP':'code'}}</h2>
<h2>{{date | date:'shortDate'}}</h2>
<h2>{{date | date:'shortTime'}}</h2>

<!-- Services -->
<!-- A class with a specific purpose, share data, implement application logic, external interaction such as connecting to database -->
<!-- Naming convention - .service.ts -->

<!-- Dependency Injection -->
<!-- Code without DI - drawbacks -->
<!-- DI as a design pattern -->
<!-- DI as a framework -->

<!-- Angular CLI
-ng update <package>
    -- automatically update your code 
- ng add @angular/material
CLI + Material starter templates
- MAterial sidenav- ng generate @angular/material:material-nav --name=my-nav 
- Dashboard - ng generate @angular/material-dashboard --name=my-dashboard 
- Datatable - ng generate @angular/material:material-table --name=my-table -->

<!-- how to update Angular 
- update.angular.io
- ng update @angular/cli@8 @angular/core@8 -->

