<h2>Employee Details</h2>
<h3>{{errorMsg}}</h3>


<h2 *ngIf="employeeId;else elseBlock1">
  You selected employee with {{employeeId}}
  <div>
    {{employee.id}} {{employee.name}} {{employee.age}}
  </div>
</h2>

<ng-template #elseBlock1>
  <!-- <h2>else block</h2> -->
  <ul *ngFor="let employee of employees">
    <li>{{employee.id}} {{employee.name}} {{employee.age}}</li>
  </ul>
</ng-template>

<div>
  <button (click)="showOverview()">Overview</button>
  <button (click)="showContact()">Contact</button>
</div>
<router-outlet></router-outlet>
<div>
  <button (click)="goPrevious()">Previous</button>
  <button (click)="goNext()">Next</button>
</div>
<div>
  <button (click)=goToEmployeeList()>Back</button>
</div>