<h1>Login</h1>
<div class=container>
  <div class="alert alert-warning" *ngIf="isInvalid">{{errorMessage}}</div>
  <div>
    User Name: <input type="text" name="username" [(ngModel)]="username">
    Password: <input type="text" name="password" [(ngModel)]="password">
    <button (click)="handleJWTLogin()" class="btn btn-success">Login</button>
  </div>

  <div>
    <p>Further next link hits to- details page </p>
    <p>relative navigation</p>
    <p>paramMap observable reflects id , but not employee details in details page-</p>
  </div>
</div>